* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: calc(12px + 1.75vw);

  @media screen and (min-width: 600px) {
    font-size: calc(12px + 0.45vw);
  }
}

@font-face {
  font-family: Billabong;
  src: url("../assets/fonts/Billabong.ttf");
}

@font-face {
  font-family: PoppinsLight;
  src: url("../assets/fonts/PoppinsLight.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../assets/fonts/PoppinsRegular.ttf");
}

@font-face {
  font-family: PoppinsMedium;
  src: url("../assets/fonts/PoppinsMedium.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/PoppinsSemiBold.ttf");
}

body {
  font-family: PoppinsRegular, Arial, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

a {
  text-decoration: none;
}

/* Space System */
//Base space is .4rem

$space-4: calc(0.2rem * 1);
$space-6: calc(0.2rem * 1.5);
$space-8: calc(0.2rem * 2);
$space-10: calc(0.2rem * 2.5);
$space-12: calc(0.2rem * 3);
$space-16: calc(0.2rem * 4);
$space-18: calc(0.2rem * 4.5);
$space-20: calc(0.2rem * 5);
$space-24: calc(0.2rem * 6);
$space-28: calc(0.2rem * 7);
$space-32: calc(0.2rem * 8);
$space-36: calc(0.2rem * 9);
$space-40: calc(0.2rem * 10);
$space-44: calc(0.2rem * 11);
$space-48: calc(0.2rem * 12);
$space-56: calc(0.2rem * 14);
$space-64: calc(0.2rem * 16);
$space-72: calc(0.2rem * 18);
$space-80: calc(0.2rem * 20);
$space-88: calc(0.2rem * 22);
$space-96: calc(0.2rem * 24);
$space-104: calc(0.2rem * 26);
$space-112: calc(0.2rem * 28);
$space-120: calc(0.2rem * 30);
