//Typography

.h1 {
	@include h1;
}

.h2 {
	@include h2;
}

.h3 {
	@include h3;
}

.h4 {
	@include h4;
}

.pl {
	@include pl;
}

.plb {
	@include plb;
}

.ps {
	@include ps;
}

.psb {
	@include psb;
}

.px {
	@include px;
}

.pxb {
	@include pxb;
}

//Icons
.post-icon {
	width: 0.85rem;
}

.standard-icon {
	width: 1rem;
}

.button-icon {
	width: 0.45rem;
}

//Buttons

button {
	cursor: pointer;
}

.btn-prim {
	@include pxb;
	@include button;
	@include light-shadow;
	padding: $space-10 $space-24;
	color: $prim-light;
	background: $main-gradient;

	&:hover {
		background: $secondary-color;
	}

	a {
		color: $prim-light;
	}
}

.btn-sec {
	@include pxb;
	@include button;
	@include mid-shadow;
	padding: $space-8 $space-20;
	color: $secondary-color;
	background: $light-gradient;

	&:hover {
		background: $secondary-color;
		color: $prim-light;
	}
}

.btn-light {
	@include pxb;
	@include button;
	@include lighter-shadow;
	padding: $space-12 $space-24;
	color: $prim-dark;
	background: white;

	&:hover {
		@include light-shadow;
	}
}

.icon-btn {
	@include px;
	@include button;
	@include flex-center;

	span {
		padding: 10px;
		margin-right: $space-8;
		border-radius: 50%;
		background-color: white;
		margin-bottom: $space-4;
		@include large-shadow;
		@include flex-center;
		border: 1px solid $shadow-gray;
	}
	.btn-icon {
		@extend .button-icon;
	}

	&:hover {
		color: $primary-color;
	}
}

//Profile
.story-unseen {
	.profile-image {
		width: 6.5rem;
		border-radius: 50%;
		border: 2.8px solid $secondary-color;
		padding: $space-6;
	}
}

//Story circle
.story-item {
	list-style-type: none;
	cursor: pointer;

	.profile-image {
		@include lighter-shadow;
		width: 4.8rem;
		height: 4.8rem;
	}
}

//Forms
.form-control {
	@include flex-center;
	padding: $space-12 $space-24;
	background-color: $prim-light;
	border-radius: $space-8;
	margin: auto;

	img {
		@extend .standard-icon;
		margin-right: $space-12;
	}

	input {
		@include ps;
		width: 100%;
		background: transparent;
		border: none;

		&:focus {
			outline: none;
		}
	}

	input::-webkit-input-placeholder {
		@include psb;
		color: $gray-text;
	}

	input::-moz-placeholder {
		@include psb;
		color: $gray-text;
	}

	input:-ms-input-placeholder {
		@include psb;
		color: $gray-text;
	}

	input::-ms-input-placeholder {
		@include psb;
		color: $gray-text;
	}

	input::placeholder,
	-ms-input-placeholder {
		@include psb;
		color: $gray-text;
	}
}

//Brand

.brand {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: 0.25rem 0.75rem;
	@include flex-center;

	.brand-icon {
		width: $space-32;
		margin-right: $space-16;
	}

	.brand-name {
		@extend .h2;
		font-family: Billabong;
		@include flex-center;
		margin-top: $space-4;
		color: $prim-dark;
	}
}

//Navigation

nav {
	margin: 0 auto;
	padding: $space-24 0;
	@include flex-center;
	justify-content: space-between;

	@include mediaMd {
		width: 80%;
	}

	.nav-icon {
		cursor: pointer;
		@extend .standard-icon;
	}

	.nav-links {
		margin-top: $space-4;
		@include flex-center;

		.nav-item {
			padding: $space-12;
			margin: 0 $space-12;
			list-style-type: none;
			cursor: pointer;

			img {
				width: $space-24;
			}

			.help {
				color: $prim-dark;
				margin-bottom: $space-8;
			}
		}
	}
}

//Feed card

.feed-card {
	width: 100%;
	margin: $space-40 0;
	margin-bottom: 0;

	.feed-image {
		@include light-shadow;
		width: 100%;
		height: minmax(325px, 485px);
		border-radius: $space-12;
	}

	.feed-controls {
		width: 95%;
		margin: 0 auto;
		margin-top: $space-16;
		@include flex-center;
		justify-content: space-between;

		.post-user {
			@include flex-center;
			color: $gray-text;
		}

		.actions {
			@include flex-center;
			color: $prim-dark;

			.like {
				@include flex-center;
				margin-right: $space-16;

				.like-icon {
					@extend .post-icon;
					//width: $space-18;
					margin-right: $space-8;
				}
			}

			.comment {
				@include flex-center;

				.comment-icon {
					@extend .post-icon;
					margin-right: $space-8;
				}
			}
		}
	}

	.feed-info {
		margin: $space-16 $space-8 $space-12 $space-4;

		p {
			display: inline;
		}

		.user-link {
			margin-right: $space-8;
		}
	}
}

.saved {
	.feed-image {
		height: 250px;
	}
}

//Explore Card

.explore-card {
	color: white;

	.card-image {
		width: 100%;
		border-radius: $space-16;
	}

	.explore-info {
		margin-top: -5rem;
		margin-left: $space-24;

		.card-user {
			@include flex-center;
			margin-top: $space-16;

			.card-user-image {
				width: $space-40;
				height: $space-40;
				border-radius: 50%;
			}

			.user-name {
				margin-left: $space-12;
			}
		}
	}
}
