//Typography

@mixin h1 {
	font-size: calc(0.125rem * 18);
	font-family: PoppinsLight;
}

@mixin h2 {
	font-size: calc(0.125rem * 12);
	font-family: PoppinsMedium;
}

@mixin h3 {
	font-size: calc(0.125rem * 9.5);
	font-family: PoppinsMedium;
}

@mixin h4 {
	font-size: calc(0.125rem * 7.5);
	font-family: PoppinsRegular;
}

@mixin pl {
	font-size: calc(0.125rem * 6.5);
	font-family: PoppinsRegular;
}

@mixin plb {
	font-size: calc(0.125rem * 6.5);
	font-family: PoppinsMedium;
}

@mixin ps {
	font-size: calc(0.125rem * 5.95);
	font-family: PoppinsLight;
}

@mixin psb {
	font-size: calc(0.125rem * 5.95);
	font-family: PoppinsRegular;
}

@mixin px {
	font-size: calc(0.125rem * 5.6);
	font-family: PoppinsLight;
}

@mixin pxb {
	font-size: calc(0.125rem * 5.6);
	font-family: PoppinsRegular;
}

//Media Queries

@mixin mediaMd {
	@media screen and (min-width: 600px) {
		@content;
	}
}

@mixin mediaLd {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

//Base button
@mixin button {
	border: none;
	border-radius: $space-6;
	background: transparent;

	&:focus {
		outline-color: $secondary-color;
	}
}

//Layouts
@mixin flex {
	display: flex;
}

@mixin flex-center {
	display: flex;
	align-items: center;
}

//Shadow Styling
@mixin lighter-shadow {
	box-shadow: 1.2px 1px 18px $lt-shadow-gray;
}

@mixin light-shadow {
	box-shadow: 1.2px 1px 18px $shadow-gray;
}

@mixin mid-shadow {
	box-shadow: 1.2px 1px 18px $gray-bg;
}

@mixin large-shadow {
	box-shadow: 0 $space-20 $space-32 $shadow-gray;
}

//icon notify
@mixin notify {
	position: relative;
	bottom: 11px;
	right: 4px;
	color: $accent-color;
}

//hide scrollbar
@mixin scrollHide {
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
