//Solid colors
$primary-color: #c32d92;
$secondary-color: #f99d4c;
$accent-color: #dd2a7b;
$prim-light: rgb(245, 245, 245);
$gray-text: rgb(126, 126, 126);
$prim-dark: #15161b; //main text color
$shadow-gray: #bdbdbda2; //shadow color
$lt-shadow-gray: #dadadaa2; //lighter shadow color
$gray-bg: #f1f1f1;

//Gradients
$main-gradient: linear-gradient(to right, #e33769, #faa349);
$light-gradient: linear-gradient(to right, #fae1e9, #fef2e4);
