.feed {
	width: 100vw;
	color: $prim-dark;

	.hidden {
		display: none;
	}

	main {
		padding: $space-12;
		height: 100vh;
		overflow-y: scroll;

		nav {
			flex-flow: row wrap;
			width: 92.5%;

			@include mediaMd {
				width: 90%;
			}

			.hamBtn {
				@include button;

				@include mediaMd {
					display: none;
				}
			}

			form {
				flex-basis: 90%;
				order: 2;
				margin: 0 auto;
				margin-top: $space-36;

				@include mediaMd {
					order: 0;
					flex-basis: 25%;
					margin: 0;
				}
			}

			.nav-items {
				@include flex-center;

				.nav-item {
					list-style-type: none;
					margin: 0 $space-8;

					span {
						@include notify;
					}
				}

				button {
					margin-left: $space-16;
				}
			}
		}

		//Stories Styles

		.stories {
			width: 90%;
			margin: 0 auto;
			margin-top: $space-12;

			.stories-header {
				@include flex-center;
				justify-content: space-between;

				.section-title {
					color: $prim-dark;
				}

				.watch-all {
					@include flex-center;
					margin-right: $space-18;
					color: $prim-dark;

					span {
						box-shadow: none;
						border: 1px solid $gray-text;
						margin-right: $space-16;
					}
				}
			}

			.story-items {
				margin-top: $space-24;
				@include flex-center;
				overflow-x: scroll;
				scrollbar-width: none;
				overflow: -moz-scrollbars-none;
				-ms-overflow-style: none;

				&::-webkit-scrollbar {
					display: none;
				}

				.story-item {
					margin: 0 $space-16;
				}

				//Add story
				.add-story {
					@include flex-center;
					width: $space-96;
					height: $space-96;
					justify-content: center;
					border-radius: 50%;
					border: 1px solid $gray-text;

					p {
						padding: $space-16 $space-28;
						border-radius: 50%;
						background: linear-gradient(#5f69c4b0, #5f69c4af),
							url(../../assets/images/profileimages/jade.jpg);
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						color: white;
					}
				}
			}
		}

		//Feed Styles
		.feed {
			display: block;
			width: 90%;
			height: -webkit-max-content;
			height: -moz-max-content;
			height: max-content;
			margin: 0 auto;
			margin-top: $space-64;
			scrollbar-width: none;
			overflow: -moz-scrollbars-none;
			-ms-overflow-style: none;

			&::-webkit-scrollbar {
				display: none;
			}

			.section-title {
				color: $prim-dark;
			}

			.feed-items {
				width: 100%;
				-moz-columns: auto 12rem;
				columns: auto 12rem;
				-moz-column-gap: $space-40;
				column-gap: $space-40;

				.feed-card {
					display: inline-block;
					height: -webkit-max-content;
					height: -moz-max-content;
					height: max-content;
				}
			}
		}
	}

	//Aside
	aside {
		display: block;
		position: fixed;
		height: 100vh;
		overflow-y: scroll;
		z-index: 999;
		width: 76%;
		background-color: whitesmoke;
		padding: $space-8 0 $space-24 $space-24;
		scrollbar-width: none;
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}

		@include mediaMd {
			width: 14rem;
		}

		.aside-header {
			width: 90%;
			margin: 0 auto 0 0;
			@include flex-center;
			justify-content: space-between;
			margin-bottom: $space-32;

			@include mediaMd {
				.close-ham {
					display: none;
				}
			}

			.link-icon {
				width: $space-18;
			}
		}

		//Aside Profile Styles

		.profile-content {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			justify-content: center;
		}

		.profile-summary {
			width: -webkit-max-content;
			width: -moz-max-content;
			width: max-content;
			margin: 0 auto 0 22.5%;
			text-align: center;

			.image {
				margin-bottom: $space-32;
			}

			.profile-name {
				margin-bottom: $space-12;
				color: $prim-dark;
			}
			.profile-link {
				color: $gray-text;
			}
		}

		.profile-stats {
			width: -webkit-max-content;
			width: -moz-max-content;
			width: max-content;
			margin: $space-32 auto $space-32 0;
			@include flex-center;
			text-align: center;

			.stat {
				padding: 0 $space-10;

				p:first-of-type {
					margin-bottom: $space-8;
					color: $prim-dark;
				}

				.stat-name {
					color: $gray-text;
				}

				&:nth-child(2),
				&:nth-child(1) {
					border-right: 1px solid $shadow-gray;
				}
			}
		}

		//Aside menu
		.side-menu {
			width: 90%;
			margin: 0 0 0 auto;

			.menu-item {
				list-style-type: none;
				margin: $space-16 0;
				padding: $space-6;

				.menu-link {
					color: $prim-dark;
					@include flex-center;

					.link-icon {
						@extend .standard-icon;
						margin-right: $space-24;
					}
				}
			}

			.item-active {
				border-right: 2px solid $accent-color;

				.menu-link {
					color: $accent-color;
					//font-weight: 600;
				}
			}

			.logout {
				margin-top: $space-72;
			}
		}
	}

	//Show aside
	.sidenav-inactive {
		display: none;

		@include mediaMd {
			display: block;
		}
	}

	@include mediaMd {
		width: 100vw;
		overflow-x: hidden;
		display: grid;
		grid-template-columns: 12.5rem calc(100vw - 12.5rem);
		grid-column-gap: $space-40;

		aside {
			position: static;
		}
	}
}
